body {
    background-image: url(/img/);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e0dee9;
}

.columna1 {
    width: 20%;
}

.columna2 {
    width: 20%;
}

.columna3 {
    width: 60%;
}